.product {
  /* width: 50%; */
  margin-top: 1rem;
}

i {
  color: red;
  display: flex;
  justify-content: center;
}
.span {
  font-weight: 700;
  display: flex;
  direction: rtl;
  padding-right: 0.5rem;
}
p {
  height: 3rem;
  overflow-wrap: break-word;
  margin: 0.7rem 0;
}
button {
  width: 100%;
}
