<div class="dsc-card-loader">
  <div class="dsc-card-loader__img" [ngStyle]="finalStyleImage"></div>
  <div
    class="dsc-card-loader__text"
    [ngStyle]="{ height: finalHeightTitle, width: barHeight }"
  ></div>
  <div
    class="dsc-card-loader__text text-right mb-3"
    [ngStyle]="{ height: finalHeightBar, width: finalMarkWidth }"
  ></div>
  <!-- <div class="description">
    <div
      class="dsc-card-loader__text"
      [ngStyle]="{ height: finalHeightBar, width: barHeight }"
      *ngFor="let item of totalBars"
    ></div>
  </div> -->
  <div
    class="dsc-card-loader__text"
    [ngStyle]="{ height: finalHeightTitle, width: barHeight }"
  ></div>
</div>
